.select2-container .select2-selection--single {
    height: auto !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: inherit !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
}
